/* Work Sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* Common Styles */

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.primary-title{
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

.primary-text{
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-top: 1.25rem;
}

.primary-btn{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: orangered;
    color: black;
    transition: 0.4s ease-in-out;
    rotate: 1deg;
}



/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 80px;
    font-size: 1.125rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-content{
    padding: 102px 0px 50px 0px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.banner img{
    width: 100%;
}

/* Main Section Styles */

main{
    max-width: 1440px;
    margin: 85px auto;
}

/* team section styles */
.team-container{
    display: flex;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content{
    padding: 0 4.5rem;
}

.team-content-text{
    padding-top: 1.5rem;
}


/* Feature Section Styles */

.feature-container{
    padding: 130px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 145px;
}

.feature-description{
    margin: 30px 0;
}

.feature-description > h3{
    border-left: 4px solid #FF900E;
    padding-left: 1.25rem;
    margin-top: 2rem;
}

.feature-box{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    margin-bottom: 1.25rem;
}

.feature-box:hover{
    box-shadow: 0px 0px 50px 0px rgba(90, 73, 73, 0.3);
    transition: 0.4s ease-out;
    background-color: #fcd1a0;
}


.feature-box-title {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}

.ten-years-badge{
    background-color: #FF900E;
    color: #FFF;
    width: 342px;
    border-radius: 8px;
    padding: 2.5rem;
    text-align: center;
}

.ten-years-badge h2{
    font-size: 4.1rem;
    font-weight: 700;
}

.ten-years-badge p{
    font-size: 25px;
    font-weight: 500;
}


/* Facts Styles */
.fact-container{
    padding: 150px 0;
}

.card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px 40px;
    text-align: center;
    box-shadow: 0px 0px 50px 0px rgb(218, 217, 215);
}

.card:hover{
    background-color: rgb(255, 214, 81);
    box-shadow: 0px 0px 50px 1px rgb(170, 161, 161);
    transition: .3s ease-in;
    rotate: 2deg;
}

.card-status{
    color: #424242;
    padding-top: .8rem;
}

.card-title{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}

/* Sponsors Styles */
.sponsor-container{
    padding-bottom: 45px;
}

.sponsor-description{
    text-align: center;
}

.sponsor-company-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding-top: 50px;
}






/* Responsive-media-queries */

/* Small Devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .team-container, .card-container{
        flex-direction: column;
    }
    nav ul{
        padding-top: 45px;
    }
    nav li{
        margin-left: 20px;
    }
    .banner-content{
        width: 100%;
        padding-top: 60px;
        /* padding-right: 1.5rem;
        padding-left: 1.5rem; */
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-content{
        margin-top: 2rem;
    }
    .card-container{
        padding: 0 1.5rem;
        gap: 1.2rem;
    }
    .fact-description{
        padding: 0 1.5rem;
    }
    .sponsor-company-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 1060px) {
    header{
        padding: 20px;
    }
    nav, .team-container{
        flex-direction: column;
    }
    nav ul{
        padding-top: 60px;
    }
    .banner-content{
        width: 100%;
        padding-top: 60px;
    }
    .team-content, .card-container{
        margin-top: 2rem;
    }
    .card-container{
        padding: 0 1.5rem;
        gap: 1.2rem;
        flex-wrap: wrap;
    }
    .fact-description{
        padding: 0 1.5rem;
    }
    .sponsor-company-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}