/* Work Sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* Common Styles */

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.primary-title{
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

.primary-text{
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
}

.primary-btn{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
}



/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 80px;
    font-size: 1.125rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-content{
    padding: 102px 0px 50px 0px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.banner img{
    width: 100%;
}

/* Main Section Styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* team section styles */
.team-container{
    display: flex;
    align-items: center;
    padding: 85px 16px 0px 65px;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content{
    padding: 0 4.5rem;
}

.team-content-text{
    padding-top: 1.5rem;
}



/* Responsive-media-queries */

/* Small Devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        padding-top: 45px;
    }
    nav li{
        margin-left: 20px;
    }
    .banner-content{
        width: 100%;
        padding-top: 60px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        padding-top: 60px;
    }
    .banner-content{
        width: 100%;
        padding-top: 60px;
    }
}